@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main{
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    

    header{
        display: flex;
        flex-direction: row;
            .notifications{
                display: flex;
                width: 40vw;
                font-family: "Plus Jakarta Sans";
                font-weight: 800;
                color: hsl(0, 0%, 0%);
                h1{
                    font-size: 20px;
                }
    
                span{
                    color: hsl(0, 0%, 100%);
                    background-color:  hsl(224, 79%, 33%);
                    width: 30px;
                    border-radius: 5px;
                    text-align: center;
                    padding: 3px;
                    font-size: 15px;
                    margin-left: 10px;
                }
            }
            .read{
                font-family: "Plus Jakarta Sans";
                color: hsl(219, 14%, 63%);
            }
            .read:hover{
                cursor: pointer;
                color: hsl(240, 80%, 36%);    
            }
    }
    .active{
        background-color: hsl(210, 60%, 98%);
    }
    
    article{
        width: 40rem;
        font-family: "Plus Jakarta Sans";
        font-weight: 500;
        color: hsl(219, 14%, 63%);
        margin-top: 0.5rem;
        padding: 1rem;
        display: flex;
        border-radius: 10px;
        
        .photo:hover{
            border: 3px solid hsl(219, 14%, 63%);
            border-radius: 10px;
            cursor: pointer;
            width: 45px;
            height: 45px;
        }
        img{
            width: 40px;
            height: 40px;
            margin-right: 1rem;
        }
        .kimberly{
            width:85vw;
        }
        .ago{
            color:hsl(214, 4%, 63%)
        }
        .message{
            margin-top: 1rem;
            border-radius: 10px;
            width: 43vw;
            padding: 1rem;
            background-color:hsl(205, 33%, 90%);            
        }
        .message:hover{
            cursor: pointer;
            border: none;           
        }
        .reading{
            margin-top: 1rem;
            border-radius: 10px;
            width: 43vw;
            padding: 1rem;
            border: 1px solid hsl(219, 14%, 63%);
        }
    }
    p{
        font-size: 16px;
    
        img{
            position: static;
            margin-left: 45rem;
            }
        .circle{
                fill: orangered;
                background-color: orangered;
                border-radius: 100px;
                width: 8px;
                position:static;
                margin-left: 0.2rem;
        }
        .circle2{
            fill: hsl(0, 0%, 100%);
            background-color: hsl(0, 0%, 100%);
        }
        .avatar{
            font-weight: 800;
            color: hsl(0, 0%, 0%);
        }
        .avatar:hover{
            cursor: pointer;
            color: hsl(240, 80%, 36%);
            }
        .comentario{
            color:hsl(219, 12%, 42%);
            font-weight: 800;
        }
        .whioutReading{
            color: hsl(240, 80%, 36%);
            font-weight: 800;
        }
        .whioutReading:hover{
            cursor: pointer;
        }
        
    }
        
}
footer{
    margin: 1rem;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    
}

@media(max-width: 650px){
    main{
        header{
            .notifications{
                width: 42vw;
                margin-bottom: 1em;
                
            }
        }
        article{
            width: 60vw;
            .message{
                width: 47vw;
            }
            .kimberly{
                width: 65%;
            }
            .photo{
                position: absolute;
                right: 7rem;
            }
            p{
                img{
                    margin-left: 10rem;
                }
            }
        }
    }
}